<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block titulo %}

        {% endblock titulo %}
    </title>
</head>

<body>
    <!--SE AGREGAN LOS SCRIPTS CORRESPONDIENTES PARA EL CORRECTO FUNCIONAMIENTO DE LA PAGINA CON BOOTSTRAP-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!--INTEGRACION DE UNA BARRA DE NAVEGACION EN LA PARTE SUPERIOR DE LA PAG-->
    <nav class="navbar navbar-light" style="background-color:#F4F4F4;">

        <nav class="navbar navbar-expand-lg ">

            <a class="navbar-brand " href="#">

                <img src="{% static 'core/img/logo.jpg' %}" width="40" height="40" class="d-inline-block align-top">
                <p class="h2 d-inline-block align-top"> <em>Floreria Petalos </em></p>

            </a>
        </nav>
        

    </nav>

    <hr>

    <section>
        {% block contenido %}


        <div class="container">
                <h1>Login</h1>
                
                <form name="formulario" class="needs-validation" id="formulario" action="{% url 'login_inicio' %}" method="POST"
                    enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Nombre Usuario</label>
                            <input type="text" class="form-control" id="txtUsuario" name="txtUsuario" placeholder="Usuario"
                                required>
                            <div class="invalid-feedback">
                                Por favor ingrese un nombre de usuario valido.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom02">Contraseña</label>
                            <input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Contraseña"
                                required>
                            <div class="invalid-feedback">
                                Por favor ingrese una contraseña valida.
                            </div>
                        </div>
                    </div>
            
                    <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
                    <p><a href="{% url 'registro' %}" class="text-muted">¿No posee una cuenta? Haga click aqui para registrarse</a></p>
                    <hr>
                </form>
            </div>
            <!--METODO DE VALIDACION ATRAVEZ DE JAVASCRIPT-->
            <script>
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        var forms = document.getElementsByClassName('needs-validation');
                         //LOOP PARA NO PODER ENVIAR LA INFORMACION HASTA QUE ESTA ESTÉ CORRECTA
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
                
            </div>
        {% endblock contenido %}
    </section>

</body>

</html>